


{{!-- @TODO add "add post" --}}
<div class="container">
<a href="/api/trip/new-trip"><button class="btn btn-primary going roboto">Add a Trip</button></a>

{{#each trips as |trip|}}

  <div class="p-4 p-md-5 mb-4 text-dark rounded bg-white border border-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic roboto">{{trip_name}}</h1>
      <p class="lead my-3 roboto">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold roboto">{{company.user_name}}</a></p>
        <img src="/uploads/8241155c38db79a7113196ee530111ee"></img>

      {{#if ../user_id}}
   {{!-- {{#unless ../companyAdmin}} --}}
      {{!-- Going button, will be connected to api/trip/going via POST request --}}
      <button id="going" data-id="{{trip.id}}" class="btn btn-primary going roboto">Going!</button>
      {{!-- {{/unless}} --}}
      {{/if}}
      {{!-- @TODO: add conditional edit and delete --}}

      {{#if ../companyAdmin}}
   <a href="/api/trip/edit/{{id}}"> <button id="edit" data-id="{{trip.id}}" class="btn btn-success roboto">Edit</button> </a>
    {{!-- <button id="upload" data-id="{{trip.id}}" class="btn btn-success roboto">Upload Image</button> --}}
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Upload Image
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="/images" method="POST" enctype="multipart/form-data" class="upload-form" data-id="{{id}}">
        <div class="input-group mb-3">
  <input type="file" name="myImage" class="form-control" id="image{{id}}">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <button data-id="{{trip.id}}" class="delete btn btn-danger roboto">Delete</button>
    
      {{/if}}
    </div>
  </div>

{{/each}}

{{#if logged_in}}
<h1>you are logged in</h1>
{{/if}}
</div>
<script src="/js/travellerGoing.js"></script>
<script src="/js/imageUpload.js"></script>
<script src="/js/deleteTrip.js"></script>