<section class="box img-bkGround2"> 
<div class="container col-lg-6">
<form action="" id="update-trip-form" data-id="{{trip.id}}" style="background-color: white;" class="container">
   <h1 class="custom-red"> Edit Your Trip</h1>
<div class="mb-3">
  <label for="formGroupExampleInput"  class="form-label nexa2">Trip Name</label>
  <input type="text" class="form-control" id="trip-name" placeholder="Example input placeholder" value="{{trip.trip_name}}">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2"  class="form-label nexa2">Trip Link</label>
  <input type="text" class="form-control" id="trip-link" placeholder="Another input placeholder" value="{{trip.trip_link}}">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2"  class="form-label nexa2">Image Source</label>
  <input type="text" class="form-control" id="img-src" placeholder="Another input placeholder" value="{{trip.img_src}}">
</div>
<button type="submit" class="trip-Btn mb-3">Submit</button>
</form>
</div>
</section>

{{!-- 

<form action="" id="update-trip-form" data-id="{{trip.id}}">
<div class="mb-3">
  <label for="formGroupExampleInput"  class="form-label">Trip Name</label>
  <input type="text" class="form-control" id="trip-name" placeholder="Example input placeholder" value="{{trip.trip_name}}">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2"  class="form-label">Trip Link</label>
  <input type="text" class="form-control" id="trip-link" placeholder="Another input placeholder" value="{{trip.trip_link}}">
</div>

<div class="mb-3">
  <label for="formGroupExampleInput2"  class="form-label">Image Source</label>
  <input type="text" class="form-control" id="img-src" placeholder="Another input placeholder" value="{{trip.img_src}}">
</div>

<button type="submit">Submit</button>
</form> 

--}}
<script src="../../../js/editTrip.js"></script>