
<div class="container">
{{#each trips as |trip|}}


  <div class="p-4 p-md-5 mb-4 text-dark rounded bg-white border border-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic roboto">{{trip.trip_name}}</h1>
      <p class="lead my-3 roboto">{{trip_description}}</p>
      <p class="lead mb-0"><a href="/company-dashboard/{{trip.company.id}}" class="text-black fw-bold roboto">{{trip.company.user_name}}</a></p>
    </div>
    <p class="roboto">There are {{traveller_num}} travellers going on this trip</p>
    
      {{#if ../user_id}}
      {{!-- Going button, will be connected to api/trip/going via POST request --}}
      <button  data-id="{{trip.id}}" class="btn btn-primary going roboto">Going!</button>
      {{/if}}

      {{#if ../user_id}}
        <a href="/api/trip/group/{{trip.id}}"><button  data-id="{{trip.id}}" class="btn btn-primary roboto">Trip Group</button></a> 
      {{/if}}
     
  </div>
{{/each}}
</div>
<script src="/js/travellerGoing.js"></script>