
<div class="container p-5">
{{#each trips as |trip|}}


  <div class="p-3 p-md-3 my-5 container d-flex rounded bg-white border justify-content-between custom-red custom-shadow">
    <div class="col-md-6 px-4">
      <h3 class=" fst-italic roboto">{{trip.trip_name}}</h3>
      <p class="lead my-3 roboto text-dark"><small>{{trip_description}}</small></p>
      <p class="lead mb-0"><a href="/company-dashboard/{{trip.company.id}}" class="text-black  roboto"><small class="custom-red">See more trips from {{trip.company.user_name}}</small></a></p>
    
    {{#if trip.noTravellers}}
    <p><small> are currently no Solo-Travellers going on this trip</small></p>
    {{/if}}
    {{#if trip.oneTraveller}}
      <small>There is currently 1 Solo-Traveller going on this trip</small>
        {{/if}}
    
    {{#if trip.manyTravellers}}
    <p class="roboto"><small>are currently {{traveller_num}} Solo-Travellers going on this trip</p></small> 
    {{/if}}
 
  <small><p><a href="{{trip.trip_link}}">View this trip on {{trip.company.user_name}}</a></p></small>
   
    
    
      {{#if ../user_id}}
      {{!-- Going button, will be connected to api/trip/going via POST request --}}
      {{#unless trip.userGoing}}
      <button  data-id="{{trip.id}}" class="btn trip-btn going {{iff }} roboto">Going!</button>
      {{/unless}}
      {{/if}}

      {{#if ../user_id}}
      {{#if trip.userGoing}}
        <a href="/api/trip/group/{{trip.id}}"><button  data-id="{{trip.id}}" class="btn trip-btn roboto">Trip Group</button></a> 
        {{/if}}
      {{/if}}
 </div>
      <div class="col-4">
    <img src="{{img_src}}"></img>
  </div>
     
  </div>
   
{{/each}}
</div>
<script src="/js/travellerGoing.js"></script>