<h1>Trip Group</h1>
<h2>{{trip.trip_name}}</h2>

{{#each posts as |post|}}
     
      <div class="row mb-2 pt-5">
    <div class="col-md-8">
      <div class="row bg-white text-dark roboto g-0 border border-dark rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">{{title}}</h3>
          <div class="mb-1 text-muted">{{date_created}}</div>
          <p class="card-text mb-auto">{{body}}</p>
          {{!-- <a href="/api/posts/{{id}}" class="stretched-link">Continue reading</a> --}}
        </div>
   <div class="col-auto d-none d-lg-block"><title>Placeholder</title>
  </div>
<!-- Scrollable modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  View Comments
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><Main>Comments</Main></h5>
{{#each comments as |comment|}}
<!-- Modal -->

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{body}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
 {{/each}}
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addComment{{id}}">
  Add a Comment
</button>

<!-- Modal -->
<div class="modal fade" id="addComment{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
</div>
{{!-- <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="{{id}}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{body}}.</strong> </div>
    </div>
  </div> --}}

  </div>
</div>
      </div>


 {{/each}}


