<div class="container">
<h1 class="text-white">Trip Group</h1>
<h2 class="text-white">{{trip.trip_name}}</h2>

<!-- Button trigger modal -->

<button type="button" class="btn genBtn m-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Post
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="" id="post-form" data-id="{{trip.id}}">
        {{!-- Form starts here --}}
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="post-title" placeholder="Post Title">
            </div>
        <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Content</label>
                <textarea class="form-control" id="post-body" placeholder="Post Content"></textarea>
        </div>
        {{!-- Modal body ends here --}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-primary">Post</button>
        </form>
        {{!-- Form ends here --}}
      </div>
    </div>
  </div>
</div>
<div class="container d-flex flex-column align-items-center">
{{#each posts as |post|}}
     
      <div class="row bg-transparent">
    <div class="col-8 bg-transparent">
      <div class="row container bg-white custom-red roboto g-0 border custom-shadow rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        
        <div class="col-2 m-3 d-flex flex-column align-items-center">
        <img src="{{post.user.img_src}}"   alt="">
        <h3>{{post.user.user_name}}</h3>
        </div>
        <div class="col-6 p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">{{title}}</h3>
          <div class="mb-1 text-muted">{{diffForHumans date_created}}</div>
          <p class="card-text mb-auto">{{body}}</p>
          
          {{!-- <a href="/api/posts/{{id}}" class="stretched-link">Continue reading</a> --}}
        </div>
   <div class="col-auto d-none d-lg-block"><title>HELLO</title>
  </div>
<!-- Scrollable modal -->
<div class="p-3 d-flex col-3 justify-content-end align-items-end">
<button type="button" class="btn trip-btn " data-bs-toggle="modal" data-bs-target="#viewComments{{id}}">
  View Comments
</button>

<!-- Modal -->
<div class="modal fade" id="viewComments{{id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Comments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <ul class="list-group list-group-flush"></ul>
       {{!-- Each starts here --}}

       {{#each comments as |comment|}}
        <li class="list-group-item ">
            <div class="container d-flex">
            <div class="col-1 m-1">
        <img src="{{comment.user.img_src}}" width="40px" class="rounded" height="auto"  alt="">
        </div>
        <div class="col-6 m-3">
            {{body}}
            <br>
        <small class="custom-red">{{comment.user.user_name}}</small>
        </div>
        </div>
        </li>
       {{/each}}

       {{!-- Each ends here --}}
       </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

 <button type="button" class="btn trip-btn" data-bs-toggle="modal" data-bs-target="#addComment{{id}}">
  Add a Comment
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="addComment{{id}}"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add a Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          {{!-- Form starts here --}}
          <form action="" class="comment-form" data-id="{{id}}" data-trip-id="{{../trip.id}}">
        <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Comment</label>
  <textarea class="form-control" id="comment-body{{id}}" placeholder="..."></textarea>
</div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
        <button type="submit" class="btn btn-primary">Post</button>
        </form>
        {{!-- Form ends here --}}
      </div>
    </div>
  </div>
</div>
  </div>
  </div>
</div>
{{!-- <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="{{id}}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{body}}.</strong> </div>
    </div>
  </div> --}}

    


 {{/each}}

</div>
</div>
<script src="/js/tripGroup.js"></script>